<div class="form-task">
  <form method="post" action="/tasks">
    <div class="form-group">
      <textarea name="title" placeholder="Write your task" rows="3" class="form-control"></textarea>
    </div>
     <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>